<!-- 加班面板 -->
<% if (user) { %>
<div class="overtime">
  <div class="list">
    <% if (overtime.timeList.length>0) { %>
    <p class="title">近5天加班情况</p>
    <ul>
      <% overtime.timeList.forEach(function(t) { %>
        <li>
          <span><%= t.date %> </span>
          <span><%= t.startTime %></span> - <span><%= t.endTime %></span>
          <span class="everyday">( <%= t.hours %>h )</span>
        </li>
      <% }) %>
    </ul>
    <% } %>
    <p><span class="total-hours">本月你已加班了 </span><%= overtime.totalHours %><span> 小时</span></p>
  </div>
  <form method="post" class="ui form segment" action="/995">
    <div class="field required">
      <div class="ui labeled input">
        <div class="ui label">开始加班</div>
        <input type="text" placeholder="2019-08-22 18:30" name="starttime" value="<%= overtime.now %>">
      </div>
    </div>
    <div class="field required">
      <div class="ui labeled input field">
        <div class="ui label">加班结束</div>
        <input type="text" placeholder="2019-08-22 22:00" name="endtime" value="<%= overtime.now %>">
      </div>
    </div>
    <input type="submit" value="确定" class="ui button fluid">
  </form>
</div>
<% } %>